<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>A</string>
		<key>Code</key>
		<integer>12354</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>I</string>
		<key>Code</key>
		<integer>12356</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>U</string>
		<key>Code</key>
		<integer>12358</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>E</string>
		<key>Code</key>
		<integer>12360</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>O</string>
		<key>Code</key>
		<integer>12362</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KA</string>
		<key>Code</key>
		<integer>12363</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GA</string>
		<key>Code</key>
		<integer>12364</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KI</string>
		<key>Code</key>
		<integer>12365</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GI</string>
		<key>Code</key>
		<integer>12366</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KU</string>
		<key>Code</key>
		<integer>12367</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GU</string>
		<key>Code</key>
		<integer>12368</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KE</string>
		<key>Code</key>
		<integer>12369</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GE</string>
		<key>Code</key>
		<integer>12370</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KO</string>
		<key>Code</key>
		<integer>12371</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GO</string>
		<key>Code</key>
		<integer>12372</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SA</string>
		<key>Code</key>
		<integer>12373</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZA</string>
		<key>Code</key>
		<integer>12374</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SI</string>
		<key>Code</key>
		<integer>12375</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZI</string>
		<key>Code</key>
		<integer>12376</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SU</string>
		<key>Code</key>
		<integer>12377</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZU</string>
		<key>Code</key>
		<integer>12378</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SE</string>
		<key>Code</key>
		<integer>12379</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZE</string>
		<key>Code</key>
		<integer>12380</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SO</string>
		<key>Code</key>
		<integer>12381</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZO</string>
		<key>Code</key>
		<integer>12382</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TA</string>
		<key>Code</key>
		<integer>12383</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DA</string>
		<key>Code</key>
		<integer>12384</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TI</string>
		<key>Code</key>
		<integer>12385</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DI</string>
		<key>Code</key>
		<integer>12386</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TU </string>
		<key>Code</key>
		<integer>12388</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DU</string>
		<key>Code</key>
		<integer>12389</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TE</string>
		<key>Code</key>
		<integer>12390</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DE</string>
		<key>Code</key>
		<integer>12391</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TO</string>
		<key>Code</key>
		<integer>12392</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DO</string>
		<key>Code</key>
		<integer>12393</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NA</string>
		<key>Code</key>
		<integer>12394</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NI</string>
		<key>Code</key>
		<integer>12395</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NU</string>
		<key>Code</key>
		<integer>12396</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NE</string>
		<key>Code</key>
		<integer>12397</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NO</string>
		<key>Code</key>
		<integer>12398</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HA</string>
		<key>Code</key>
		<integer>12399</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BA</string>
		<key>Code</key>
		<integer>12400</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PA</string>
		<key>Code</key>
		<integer>12401</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HI</string>
		<key>Code</key>
		<integer>12402</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BI</string>
		<key>Code</key>
		<integer>12403</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PI</string>
		<key>Code</key>
		<integer>12404</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HU</string>
		<key>Code</key>
		<integer>12405</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BU</string>
		<key>Code</key>
		<integer>12406</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PU</string>
		<key>Code</key>
		<integer>12407</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HE</string>
		<key>Code</key>
		<integer>12408</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BE</string>
		<key>Code</key>
		<integer>12409</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PE</string>
		<key>Code</key>
		<integer>12410</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HO</string>
		<key>Code</key>
		<integer>12411</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BO</string>
		<key>Code</key>
		<integer>12412</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PO</string>
		<key>Code</key>
		<integer>12413</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MA</string>
		<key>Code</key>
		<integer>12414</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MI</string>
		<key>Code</key>
		<integer>12415</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MU</string>
		<key>Code</key>
		<integer>12416</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ME</string>
		<key>Code</key>
		<integer>12417</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MO</string>
		<key>Code</key>
		<integer>12418</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YA</string>
		<key>Code</key>
		<integer>12420</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YU</string>
		<key>Code</key>
		<integer>12422</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YO</string>
		<key>Code</key>
		<integer>12424</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RA</string>
		<key>Code</key>
		<integer>12425</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RI</string>
		<key>Code</key>
		<integer>12426</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RU</string>
		<key>Code</key>
		<integer>12427</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RE</string>
		<key>Code</key>
		<integer>12428</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RO</string>
		<key>Code</key>
		<integer>12429</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WA</string>
		<key>Code</key>
		<integer>12431</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WI</string>
		<key>Code</key>
		<integer>12432</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WE</string>
		<key>Code</key>
		<integer>12433</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WO</string>
		<key>Code</key>
		<integer>12434</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>N</string>
		<key>Code</key>
		<integer>12435</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VU</string>
		<key>Code</key>
		<integer>12436</integer>
	</dict>
</array>
</plist>
