<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>A</string>
		<key>Code</key>
		<integer>12450</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>I</string>
		<key>Code</key>
		<integer>12452</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>U</string>
		<key>Code</key>
		<integer>12454</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>E</string>
		<key>Code</key>
		<integer>12456</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>O</string>
		<key>Code</key>
		<integer>12458</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KA</string>
		<key>Code</key>
		<integer>12459</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GA</string>
		<key>Code</key>
		<integer>12460</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KI</string>
		<key>Code</key>
		<real>12461</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>GI</string>
		<key>Code</key>
		<integer>12462</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KU</string>
		<key>Code</key>
		<real>12463</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>GU</string>
		<key>Code</key>
		<integer>12464</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KE</string>
		<key>Code</key>
		<real>12465</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>GE</string>
		<key>Code</key>
		<integer>12466</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>KO</string>
		<key>Code</key>
		<integer>12467</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>GO</string>
		<key>Code</key>
		<integer>12468</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SA</string>
		<key>Code</key>
		<integer>12469</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZA</string>
		<key>Code</key>
		<integer>12470</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SI</string>
		<key>Code</key>
		<integer>12471</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZI</string>
		<key>Code</key>
		<integer>12472</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SU</string>
		<key>Code</key>
		<integer>12473</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZU</string>
		<key>Code</key>
		<integer>12474</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SE</string>
		<key>Code</key>
		<integer>12475</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZE</string>
		<key>Code</key>
		<integer>12476</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>SO</string>
		<key>Code</key>
		<integer>12477</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ZO</string>
		<key>Code</key>
		<integer>12478</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TA</string>
		<key>Code</key>
		<integer>12479</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DA</string>
		<key>Code</key>
		<integer>12480</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TI</string>
		<key>Code</key>
		<real>12481</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>DI</string>
		<key>Code</key>
		<integer>12482</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TU </string>
		<key>Code</key>
		<integer>12484</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DU</string>
		<key>Code</key>
		<integer>12485</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TE</string>
		<key>Code</key>
		<integer>12486</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DE</string>
		<key>Code</key>
		<integer>12487</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>TO</string>
		<key>Code</key>
		<integer>12488</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>DO</string>
		<key>Code</key>
		<integer>12489</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NA</string>
		<key>Code</key>
		<integer>12490</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NI</string>
		<key>Code</key>
		<integer>12491</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NU</string>
		<key>Code</key>
		<integer>12492</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NE</string>
		<key>Code</key>
		<integer>12493</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>NO</string>
		<key>Code</key>
		<integer>12494</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HA</string>
		<key>Code</key>
		<integer>12495</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BA</string>
		<key>Code</key>
		<integer>12496</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PA</string>
		<key>Code</key>
		<integer>12497</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HI</string>
		<key>Code</key>
		<integer>12498</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BI</string>
		<key>Code</key>
		<integer>12499</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PI</string>
		<key>Code</key>
		<integer>12500</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HU</string>
		<key>Code</key>
		<integer>12501</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BU</string>
		<key>Code</key>
		<integer>12502</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PU</string>
		<key>Code</key>
		<integer>12503</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HE</string>
		<key>Code</key>
		<integer>12504</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BE</string>
		<key>Code</key>
		<integer>12505</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PE</string>
		<key>Code</key>
		<integer>12506</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>HO</string>
		<key>Code</key>
		<integer>12507</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>BO</string>
		<key>Code</key>
		<integer>12508</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>PO</string>
		<key>Code</key>
		<integer>12509</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MA</string>
		<key>Code</key>
		<integer>12510</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MI</string>
		<key>Code</key>
		<integer>12511</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MU</string>
		<key>Code</key>
		<integer>12512</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>ME</string>
		<key>Code</key>
		<integer>12513</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>MO</string>
		<key>Code</key>
		<integer>12514</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YA</string>
		<key>Code</key>
		<integer>12516</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YU</string>
		<key>Code</key>
		<integer>12518</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>YO</string>
		<key>Code</key>
		<integer>12520</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RA</string>
		<key>Code</key>
		<integer>12521</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RI</string>
		<key>Code</key>
		<integer>12522</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RU</string>
		<key>Code</key>
		<integer>12523</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RE</string>
		<key>Code</key>
		<integer>12524</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>RO</string>
		<key>Code</key>
		<integer>12525</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WA</string>
		<key>Code</key>
		<integer>12527</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WI</string>
		<key>Code</key>
		<integer>12528</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WE</string>
		<key>Code</key>
		<integer>12529</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>WO</string>
		<key>Code</key>
		<integer>12530</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>N</string>
		<key>Code</key>
		<integer>12531</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VU</string>
		<key>Code</key>
		<integer>12532</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VA</string>
		<key>Code</key>
		<integer>12535</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VI</string>
		<key>Code</key>
		<integer>12536</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VE</string>
		<key>Code</key>
		<integer>12537</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>VO</string>
		<key>Code</key>
		<integer>12538</integer>
	</dict>
</array>
</plist>
